.ContentContainer{
    width: calc(60% - 20px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .ContentContainer{
        width: calc(100% - 40px);
    }
}