.GridContainer{
    font-size: 13px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ddd;
    color: black;
    position: relative;
    /* border: 0.1px solid #000; */
    cursor: pointer;
}

.GridTime{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 12px;
    color: #000;
    display: none;
}

.GridTitle{
    font-size: bold;
    font-weight: 900;
    font-size: 17px;
    margin: 20px 0px;
    color: black;
}

.GridDescription{
    color: rgb(91, 91, 91);
}

.GridFooter{
    margin: 30px 0px 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GridCategory{
    margin-right: auto;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 11px;
}

.GridReactionShow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 11px;
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
    text-align: center;
}

.GridReactionEmoji{
    text-align: center;
    /* margin-right: 10px; */
}

.readBtn{
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 40px);
    padding: 10px 20px;
    text-align: center;
    color: #1e81b0;
    font-size: 13px;
    margin: 0px;
    background-color: #d2e225;
    color: #000;
    border-radius: 5px;
    /* border-top: 0.1px solid #000; */
}

body {
    overflow: auto;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
